.testimonials {
    &__container {
        margin-bottom: 18rem;

        @include sm {
            margin-bottom: 24rem;
        }
    }

    &__slider {
        display: flex;
        overflow: hidden;
        margin-bottom: 6rem;
    }

    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__dot {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.7rem;
        border-radius: 50%;
        background: #DDE0E4;
        
        &--active {
            width: 45px;
            border-radius: 15px;
            background: $link-color;
        }
    }

    &__button {
        width: 6rem;
        height: 6rem;
        margin: 0 10px;
        border-radius: 50%;
        border: 2px solid $link-color;
        background: url('../assets/testimonials/arrow.svg') no-repeat center;

        &--active {
            background: no-repeat url('../assets/testimonials/arrow--active.svg') $link-color center;
        }
    }
}