.logotype {
    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__logo {
        width: 35px;
    }

    &__title {
        font-weight: weight(medium);
        font-size: $lg-text;
        line-height: 2.4rem;
        color: $title-color;
    }
}